body {
    font-family: sans-serif，Verdana, Arial, Helvetica;
    font-size: 10pt;
}

#playlist {
    border-radius: 10px;
    padding: 5px 5px 3px 5px;
    width: 290px;
    margin-left: 1px;
    margin-top: 10px;
    height: 500px;
    overflow: auto;
}

#nb {
    border-radius: 10px!important;
    border: solid black!important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
    background-color: #EEB422!important;
}

#btn {
    border-radius: 10px;
    width: 296px;
    margin-left: 1px;
    margin-top:  5px;
    height: 50px;
    overflow: auto;
    background: #EEB422;
    font-weight: bold;
    color: white;
}
#playlist, a {
    display: block;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2px;
}
#playlist a.file { background: #66CDAA;}
 
#playlist { background: #3CB371; }
#playlist a { background: #7CCD7C; }
#playlist a.playing { background: #9ACD32; font-weight: bold; color: red;}
#playlist a:hover { background: #EEC900;}