body {
    font-family: sans-serif，Verdana, Arial, Helvetica;
    font-size: 10pt;
    background-color: #11CDAA;
}

html {
    overflow-y: hidden;
    overflow: hidden;
}

.progress, .progress-row{
    width: 100%;
}

.progress-bar {
    background-color: #11CDCC;
}

#playlist {
    border-radius: 10px;
    padding: 5px 5px 3px 5px;
    width: 290px;
    margin-left: 1px;
    margin-top: 10px;
    height: 500px;
    overflow: auto;
}

#navb {
    background-color: #11CDAA;
    border-bottom: solid black;
}

.custom-toggler, .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

#songs {
    background-color: #11CDCC;
    height:33%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: solid black;
}

#info {
    padding-top: 1rem;
    background-color: #11CDAA;
    height: 49%;
    overflow: hidden;
    text-align: left;
}

.play {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;
    border-radius: 5px;
    background-color: #EEFFEE;
    border: solid black;
    display: block;
    cursor: pointer;
}

#title {
    background-color: #EEFFEE;
    margin: 0 0 0 0;
    padding-right: 1rem;
    padding-left: .5rem;
    border: solid #000000;
    border-radius: 10px;
}

#tb:focus {
    outline: none;
}

#tb {
    background-color: #EEFFEE;
    border: solid #000000;
}

.tb {
    margin-top: 2rem;
}

.br {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.sb {
    padding-left: 0!important;
    padding-right: 0!important;
}

.btn {
    width: 100%;
    font-size: .5rem;
    overflow: hidden;
    background: #EEFFEE;
    text-align: center;
    margin: 0 0 0 0;
    box-shadow: 0 0 0 0!important;
    transition: box-shadow .25s ease;
    -webkit-transition: box-shadow .25s ease;
    -moz-transition: box-shadow .25s ease;
    -o-transition: box-shadow .25s ease;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)!important;
}


.active {
    background-color: #535050;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)!important;
}

#controlPlay {
    background-color: #EEFFEE;
    border: solid #000000;
    border-radius: .43rem;
    margin-top: 1rem;
}

#controlSeek {
    background-color: #EEFFEE;
    border: solid #000000;
    border-radius: .43rem;
    margin-top: 1rem;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#control {
    background-color: #EEFFEE;
    border: solid #000000;
    border-radius: .43rem;
    margin-top: 1rem;
}

#search {
    margin-top: 1rem;
    border: 0 none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;    
    width: 100%;
    height: 1.75rem;
    font-size: .5rem;
    overflow: auto;
    background: #EEFFEE;
    font-weight: bold;
    color: black;
    margin: 0 0 0 0!important;
}

#search:focus {
    outline: none!important;
    box-shadow: none;
}

#playlist {
    display: block;
    overflow: hidden;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
}

a.file {
    display: block;
    cursor: pointer;
    padding: 2px 4px;
    overflow: hidden;
    margin-bottom: 2px;
}

#top {
    margin-top: .5rem;
}

#bot {
    margin-bottom: 0!important;
}

#playlist a.file { background: #66CDAA;}
#playlist a { background: #7CCD7C; }
#playlist a.playing { background: #9ACD32; font-weight: bold; color: red;}
#playlist a:hover { background: #EEC900;}